*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("IMAGES/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    min-width: 15opx;
}

h1 {
    color: goldenrod;
}

#note{
    font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
button {
    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    min-width: 320px;
}

 
#newCard{
    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    min-width: 320px;
    margin-top: 1em;
}